<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />  
  
  <script type="text/javascript" src="/js/jquery-1.6.2.min.js" ></script>
  <script type="text/javascript" src="/js/modernizr-2.0.6.min.js" ></script>
</head>
<body>
<div id="header">
<div class="title">
<img src="/images/title.png" />
</div>
</div>
<div class="colmask threecol">
  <div class="colmid">
    <div class="colleft">
      <div class="col1">
        <!-- Column 1 start -->
        {{content}}
        <!-- Column 1 end -->
      </div>
      <div class="col2">
        <!-- Column 2 start -->
        <!-- Column 2 end -->
      </div>
      <div class="col3">
        <!-- Column 3 start -->
        <!-- Column 3 end -->
      </div>
    </div>
  </div>
</div>
<div id="footer">
</div>
</body>
</html>
